<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Counter</title>
<style>
* {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

body {
    display: inline-block;
    text-align: center;
    margin-left: 50%;
}

h1, h2 {
  vertical-align: top;
  padding: 40px;
  margin: 0 auto;
}


</style>

</head>
<body>
  <h1>Counter</h1>
  <h2>{{ count }} times.</h2>
  <form action='/reset' method='post'>
    <input type='submit' name ="reset" value='Reset Count'>
</form>
</body>
</html>