<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja Gold</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="main">
    <h3 id="gold" class="i-block">Your gold:</h3>
    <textarea class="i-block" id="gold_count"> {{ session['gold'] }}</textarea>
    <div class="i-block choices" id="farm">
      <h1>Farm</h1>
      <h2>(Earns 10-20 gold)</h2>
      <form action="/process_money" method="post">
        <input type="hidden" name="type" value="farm"/>
        <input type="submit" value="Find Gold!"/>
      </form>
    </div>
    <div class="i-block choices" id="cave">
        <h1>Cave</h1>
        <h2>(Earns 5-10 gold)</h2>
        <form action="/process_money" method="post">
          <input type="hidden" name="type" value="cave"/>
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="i-block choices" id="house">
        <h1>House</h1>
        <h2>(Earns 2-5 gold)</h2>
        <form action="/process_money" method="post">
          <input type="hidden" name="type" value="house"/>
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="i-block choices" id="casino">
        <h1>Casino</h1>
        <h2>(Earns or Loses 0-50 gold)</h2>
        <form action="/process_money" method="post">
          <input type="hidden" name="type" value="casino"/>
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div id="info">
        <p id="information" class="i-block">Activities:</p>
    
      <div id="activities">
        
           
            <p class="result"> {{ session['activities'] }}</p>
          
      </div>
      </div>
    </div>
</body>
</html>